* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: transparent;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.content {
    display: flex;
    background-color: cadetblue;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

main.index {
    flex: 1;
}

main.documentation {
    flex: 1;
    padding: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.burger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

nav ul li a:hover {
    color: #87CEEB;
}

.nav-links {
    display: flex;
    list-style: none;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1b2735;
        flex-direction: column;
        width: 100%;
        display: none;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 15px 0;
    }
    
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-family: inherit;
        font-size: 18px;
        padding: 0;
        border: none;
        background: none;
    }

    .burger {
        display: block;
    }

    nav {
        position: relative;
    }
}

.nav-links a:hover {
    color: gold;
}

h1.documentation {
    color: orange;
}

h3.cmd-list {
    color: darkmagenta;
}

.doc-nav {
    width: 250px;
    padding: 1em;
    background: linear-gradient(to bottom, #C0C0C0C0, #808080);
    height: 100vh;
    position: sticky;
    top: 0;
}

.none {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}

.bienv {
    text-align: center;
}

.info {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px gold;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.cat-image {
    width: 267px;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px gold;
}

footer {
    background-color: #8B0000;
    color: gold;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9em;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}